{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="{% static 'js/lib/bootstrap/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/base.css' %}" rel='stylesheet' type='text/css' />
</head>
<body>
    {% block content %}
    {% endblock %}

    <div class="col-xs-4"></div>

        <div class="col-xs-4">

            <section id="snippet-app" class="panel-body">
                <section id="main">
                    <form role="form" id="addSnippet" action="#">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="code">Code</label>
                            <input type="text" class="form-control" id="code" placeholder="Code">
                        </div>

                        <div class="form-group">
                            <label for="language">Language</label>
                            <input type="text" class="form-control" id="language" placeholder="Language">
                        </div>

                        <div class="form-group">
                            <label for="style">Style</label>
                            <input type="text" class="form-control" id="style" placeholder="Style">
                        </div>

                        <div class="form-group">
                            <button id="add" type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </form>
                    <ul id="snippet-list"></ul>
                </section>
                <footer id="snippet-stats"></footer>
            </section>


        </div>

    <script data-main="{% static 'js/main' %}" src="{% static 'js/lib/require/require.js' %}"></script>

</body>
</html>